// Background colors
$primary-background-color: #304774 !important;
$secondary-background-color: #E4EAF1 !important;
$teriary-background-color: #73305B !important;

// Texts
$primary-text: white !important;

